.App-footer-container {
    display: flex;
    justify-content: center;
    background-color: #0099ff;
    color: #080D1A;
    padding: 0 0 1em 0;
}

.App-footer-icon {
    width: 5vh;
    padding: 2vh;
    margin: 0 1vh;
    border-radius: 2vh;
    background-color: #0099ff;
    border: 4px solid #080D1A;
    transition-duration: 500ms;
}

.App-footer-icon:hover {
    cursor: pointer;
    border: 4px solid #080D1A;
    background-color: #080D1A;
}