/* 
    Header
*/
.App-header {
    background-color: #080D1A;
    display: flex;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-logo {
    width: 10%;
    height: 10%;
}

.App-header-menu {
    display: flex;
    align-items: center;
}

.App-header-list {
    padding: 0 1em;
    transition-duration: 300ms;
    font-size: 0.6em;
}

.App-header-list:hover {
    cursor: pointer;
    color: #0099ff;
}

.App-header-container-resume {
    display: flex;
    align-items: center;
}

.App-header-download-cv {
    border: 1px solid #0099ff;
    border-radius: 8px;
    padding: 0.5em 2em;
    transition-duration: 500ms;
}

.App-header-download-cv:hover {
    border: 1px solid #0099ff;
    color: #080D1A;
    background-color: #0099ff;
}

.App-header-icon-rocket {
    width: 1.2em;
}

