/* 
    Settings CSS 
*/
body {
    margin: 0;
    top: 0;
    background-color: #080D1A;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #0099ff;
  }
  
  li {
    list-style-type: none;
  }