/* 
    Settings CSS 
*/
body {
  margin: 0;
  top: 0;
}

a {
  text-decoration: none;
  color: #F2FF00;
}

li {
  list-style-type: none;
}
/* 
    Import font
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* 
    Style app
*/

.App {
  text-align: center;
  font-family: 'Poppins', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* 
    Header
*/
.App-header {
  background-color: #080D1A;
  display: flex;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  width: 10%;
  height: 10%;
}
